￼<% content_for :title do %>About<% end %>
<h3>About Obaid Baig</h3>
<p>He was born in Hyderabad, India. He loves to try out new stuff, food, places, and actitivites and loves to sleep.</p>
<p>His favorite quotation is:</p>
<p>"Eat.Pray.Love"</p>